@{
    ViewData["Title"] = "TONTAPATT";
}

<div class="container-top">
    <h1 class="container-top-h1">UN SAVOIR FAIRE, D’ÉCÔPATURAGE.</h1>
    <p class="container-top-p">
        Vous en avez assez d'entendre d'entendre le bruit de la tondeuse à 7h du matin et vous trouvez que l'odeur de la combustion du carburant est horrible? 
        <br /><br />
        Pourquoi pas passer par notre service qui vous propose des offre de tonte ecologique?
        <br /><br /><br />
        Inscrivez-vous vite sur notre site pour découvrir les ancinennes méethodes que notres ancêtres utilisaient pour tondre les terrains et enrichir le sol en même temps.
    </p>
</div>
<section class="features">
    <div class="row-1">
        <h1> À PROPOS DE NOUS </h1>
        <P>
            Tontapatt est un nouvel acteur qui souhaite rendre plus accessible la pratique de l'éco-pâturage.
            L'objectif est de mettre en relation des éleveurs avec des entreprises et des particuliers afin de proposer une alternative par l'éco-pâturage à un entretien mecanique des espaces vert.
            Tontapatte souhaite mettre en avant l’effort des entreprises qui cherche à améliorer le cadre social et environnemental de leurs lieu de travail, ainsi que les bergers en leur permettant de diversifier les revenue lié à leur activité.
            Cette pratique est familière à nos ancêtres, plus habituellement dans les milieux naturels et ruraux.
        </P>
    </div>
    <div class="row-2">
        <div class="features-col">
            <h3>SERVICE</h3>
            <p>
                 Notre service consiste à effectuer l’entretien d’un espace enherbé en y laissant paître des animaux via le choix d'une offre de tonte par plusieurs crées par des éleveurs qui cherchent à aug,enter leurs revenues.
            </p>
        </div>
        <div class="features-col">
            <h3>ÉCOSYSTÈME</h3>
            <p>
                L’éco-pâturage est positif pour l’environnement à plusieurs titres. Il favorise la biodiversité et enrichit les sols. Il permet la suppression de l’utilisation d’huile et carburants des engins mécaniques, ainsi que la suppression des désherbants et autre produits phytosanitaires. Il réduit également la pollution sonore.
            </p>
        </div>
        <div class="features-col">
            <h3>AVANTAGES</h3>
            <p>
                Les avantages de cette technique est qu’elle ne produit aucun déchets vert, elle participe à un épanouissement social des personnes en contact avec les animaux et améliore par ce fait la qualité de vie.
                Elle permet aussi l’accès à des zones inaccessible par les moyens mecaniques.
            </p>
        </div>
    </div>

</section>

<!-- contact form-->
<!--message d'alert
<div class="alert-success">
    <span> Merc! Votre message a été bien envoyé! </span>
</div>

message error
<div class="alert-error">
    <span> Erreur! veuillez ré-essayer à nouveau!</span>
</div> -->

<section class="section-contact-form">
    <div class="contact-section">
        <div class="contact-info">
            <div><i class="fas fa-map-marker-alt"></i>  75000, Paris  France</div>
            <div><i class="fas fa-envelope"></i>  contact@tontapatt.com</div>
            <div><i class="fas fa-phone"></i>  +33600000000</div>
        </div>
        <div class="contact-form">
            <h2>Contacter nous</h2>
            <form class="contact" action="" method="post">
                <input type="text" name="name" class="text-box" placeholder="Votre nom" required>
                <input type="email" name="email" class="text-box" placeholder="Votre mail" required>
                <textarea name="message" rows="5" placeholder="Votre message" required></textarea>
                <input type="submit" name="submit" class="send-btn" value="Envoyer">
            </form>
        </div>
    </div>
</section>