@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="choixTerrainDescription">
    <h1 class="choixTerrainDescription_h1">Titre du terrain</h1>
    <div class="choixTerrainDescription_terrain">
        <img class="choixTerrainDescription_img" src="~/images/img-gazon.jpg" />
        <div class="choixTerrainDescription_description">
            <h2 class="choixTerrainDescription_h2">Description</h2>
            <p class="choixTerrainDescription_p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="choixTerrainDescription_description">
            <h2 class="choixTerrainDescription_h2">Type de Terrain</h2>
            <p class="choixTerrainDescription_p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="choixTerrainDescription_description">
            <h2 class="choixTerrainDescription_h2">Hauteur de l'herbe</h2>
            <p class="choixTerrainDescription_p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="choixTerrainDescription_description">
            <h2 class="choixTerrainDescription_h2">Humidité du terrain</h2>
            <p class="choixTerrainDescription_p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="choixTerrainDescription_description">
            <h2 class="choixTerrainDescription_h2">Composition du terrain</h2>
            <p class="choixTerrainDescription_p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div>
            <h3></h3>
        </div>
    </div>
</div>
