@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main class="descriptionAnomalie_main">
    <h1 class="descriptionAnomalie_h1">Anomalie numéro : 8934893475893</h1>
    <div class="descriptionAnomalie">
        <div class="descriptionAnomalie_description">
            <p>Nom de l'utilisateur : henry bernard</p>
            <p>Nom de l'autre partie : henry bernard</p>
            <p>Date de début de l'anomalie : 09/08/21</p>
            <p>Date de fin de l'anomalie : cette anomalie n'est pas cloturé</p>
            <p>Description de l'anomalie : un mouton est mort</p>
            <p>Type de l'anomalie : mouton mort</p>
            <p>
                Status de l'anomalie :  <span class="descriptionAnomalie_statusInfos">En cours</span>
                <a class="descriptionAnomalie_retour" href="#">Revenir à la liste d'anomalies</a>
        </div>
        <button class="descriptionAnomalie_statusFin">Mettre fin à l'anomlie</button>
    </div>
</main>