@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="body-demande-Prestation">

    <div class="main-terrain main-demande-Prestation">


        <div class="body-card-terrain terrain-card-prestation">
            <div class="terrain-left terrain-left-prestation">
                <img src="assets/terrain_image_default.jpg" alt="">
            </div>
            <div class="terrain-right">

                <h2>Terrain: Les magnolia</h2>
                <p>
                    <span class="ville">Animaux: 30</span>
                </p>
                <p>
                    <span class="code-postal">Surface: 2000</span>
                </p>
                <p>11/07/2020 <i class="fas fa-long-arrow-alt-right"></i> 23/07/2020</p>
                <div class="footer-card-terrain">
                    <P>
                        <span class="icone-terrain"><i class="fas fa-times refuse"></i></i></span>
                        <span class="icone-terrain"><i class="fas fa-check valid"></i></i></span>
                        <span class="icone-terrain"><i class="far fa-eye"></i></i></span>
                    </P>
                </div>
            </div>
        </div>



    </div>


    <div class="demande-presation-right">
        <h2>Demande de prestation</h2>
        <div class="body-button-prestaton">
            <div class="button-choose-cat-prestration active">
                <h3>En Attente</h3>
            </div>
            <div class="button-choose-cat-prestration">
                <h3>En cours</h3>
            </div>
            <div class="button-choose-cat-prestration">
                <h3>Terminer</h3>
            </div>
            <div class="button-choose-cat-prestration">
                <h3>Annuler</h3>
            </div>

        </div>

    </div>
</div>
