@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="main-connexion">
    <div class="body-connexion">
        <div class="left-connexion">
            <img src="https://cdn.pixabay.com/photo/2017/01/16/19/54/ireland-1985088_960_720.jpg" />
        </div>
        <div class="right-connexion">

            <h2>Entrez vos identifiants</h2>

            <form>

                <p>

                    <i class="fas fa-at"></i>
                    <input type="email" id="Name" class="css-input" placeholder="p.cuquemy@eql.com" />
                </p>
                <p>
                    <i class="fas fa-unlock-alt"></i>
                    <input type="password" id="Password" class="css-input" placeholder="Mot de passe" />
                </p>
                <button class="square_btn" action="post">Connexion</button>
            </form>
        </div>
    </div>
</div>