<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/perso.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>
<body>
    <header>
        <div class="header-left">
            <img class="logo" src="~/assets/Logo.png" />
            <p>Tontapatt</p>
        </div>
        <div class="header-right">
            @if (@ViewBag.Utilisateur is not null)
            {
                <p>
                    <a class="" asp-controller="Home" asp-action="Index">Acceuil</a>
                </p>
                <p>
                    <a class="" asp-controller="TerrainChoix" asp-action="Index" asp-route-id="@ViewBag.IdUtilisateur">Offre</a>
                </p>
                <p>
                    <a class="" href="#APropos">A Propos</a>
                </p>
                <p class="icone-header">
                    <i class="far fa-user"></i>
                </p>
                <p>
                    <a class="" asp-controller="Connexion" asp-action="Index">Deconnexion</a>
                </p>
            }
            else
            {
                <p>
                    <a class="" asp-controller="Home" asp-action="Index">Acceuil</a>
                </p>
                <p>
                    <a class="" asp-controller="Home" asp-action="Index">Offre</a>
                </p>
                <p>
                    <a class="" href="#APropos">A Propos</a>
                </p>
                <p class="icone-header">
                    <i class="far fa-user"></i>
                </p>
                <p>
                    <a class="" asp-controller="Connexion" asp-action="Index">Connexion</a>
                </p>
                <p>
                    <a class="" href="#APropos">Inscription</a>
                </p>
            }
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="container">
            <p>
                2021 - Tontapatt <i class="far fa-copyright"></i>
            </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
