@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root {
    --Dark: #13070C;
    --light: #F5F5F5;
    --primary: #4F6367;
    --secondary: #C4C4C4;
    --info: #88CCF1;
    --refus: #A44A3F;
    --accept: #97FE48;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: var(--light);
}

a {
    text-decoration:none;
}

header {
    display: flex;
    flex-direction: row;
    height: 6rem;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 1.1rem;
    margin: 0;
    align-items: center;
    color: var(--Dark);
    
}

    header::after {
        content: "";
        position: absolute;
        top: 5em;
        display: block;
        background-color: var(--secondary);
        height: 1px;
        width: 90%;
    }

.header-right {
    display: flex;
    justify-content: flex-end;
  
    text-decoration: none;
    margin-right: 5em;
    font-family: 'Roboto', sans-serif;
}


.header-left {
    justify-content: flex-start;
    width: 50%;
    margin: 0;
    display: flex;
    margin-left: 5em;
    font-family: 'Poppins', sans-serif;
}

    .header-left p {
        align-self: center;
        font-size: 25px;
    }

.icone-header {
    align-self: center;
    margin-left: 4em;
    position: relative;
    color: var(--light);
}

    .icone-header::before {
        content: "";
        position: absolute;
        display: block;
        width: 1px;
        height: 50px;
        background-color: var(--secondary);
        left: -20px;
        top: -15px;
    }

    .icone-header::after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        background-color: var(--info);
        left: 0px;
        top: -14px;
        z-index: -99;
        border-radius: 50px;
    }

.header-right p {
    padding: 0em 1em;
    min-inline-size: max-content;
}

.logo {
    margin-right: 1em;
    width: 50px;
    height: 50px;
    align-self: center;
}

@media screen and (max-width: 640px) {
    .header {
        padding-left: 20em;
    }
}

footer {
    /*display: flex;*/
    /* flex-direction: row; */
     height: 3em; 
    width: 100%;
    /* justify-content: center; */
    font-size: 18px;
    background-color: var(--primary);
    /* align-items: center; */
    position: absolute;
    bottom: 0;
    margin: 0;
    color: var(--light);
    text-align: center;
}

.main {
    height: 100%;
    width: 100%;
    margin-bottom:6em;
}


/*//////////////////////////  CHOIX TERRAIN    ///////////////////////////////*/

.choixTerrain_terrains {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
}

.header-right a {
    text-decoration: none;
    color: var(--Dark);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 15px;
}

i {
    display: block;
}

.choixTerrain_h1 {
    text-align: center;
}

.choixTerrain_Border {
    border: solid 1px var(--Dark);
    border-radius: 5px;
    margin: 2rem;
}

.choixTerrain_terrain {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 20rem;
}

.choixTerrain_img {
    width: 10rem;
    height: 10rem;
    margin: auto;
    justify-content: center;
}

.choixTerrain_description {
    margin: auto;
    text-align: center;
}

.choixTerrain_h3 {
    margin: 0;
    justify-content: center;
}

.choixTerrain_p {
    overflow: hidden;
}

.choixTerrain_h2 {
    text-align: center;
    margin: 1rem;
}

.icons-ajoutTerrain {
    margin: auto;
}

/*//////////////////////// AFFICHAGE TERRAIN   /////////////////////////*/

.choixTerrainDescription_h1 {
    text-align: center;
}

.choixTerrainDescription_terrain {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 3rem 20rem;
    border-radius: 3px;
}

choixTerrainDescription_img {
    width: 40rem;
    height: 20rem;
    margin: auto;
    margin-bottom: 5rem;
}

.choixTerrainDescription_description {
    display: flex;
    flex-direction: row;
}

.choixTerrainDescription_h2 {
    margin: 1rem;
}

.choixTerrainDescription_p {
    margin: 1rem;
}






.main-connexion {
    margin-top: 7vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.body-connexion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    background-color: var(--primary);
    border-radius: 5px;
    position:relative;
}

.left-connexion {
    width: 50%;
}

    .left-connexion img {
        width: 100%;
    }

.right-connexion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

    .right-connexion h2 {
        text-align: center;
        color: var(--light);
        font-family: 'Roboto', sans-serif;
    }

    .right-connexion form {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        color: var(--light);
    }

        .right-connexion form p {
            width: 100%;
        }

            .right-connexion form p i {
                margin-right: 10px;
            }

.css-input {
    font-size: 16px;
    width: 70%;
    align-self: center;
    background-color: unset;
    border: none;
    border-bottom: 1px solid var(--light);
    color: var(--light) !important;
    max-width: 300px;
    font-family: 'Roboto', sans-serif;
}

    .css-input:focus {
        outline: none;
    }

    .css-input::placeholder {
        color: var(--secondary);
    }


.square_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: var(--light);
    border: solid 2px var(--light);
    border-radius: 3px;
    transition: .4s;
    background-color: var(--info);
    cursor: pointer;
}

    .square_btn:hover {
        background: #67c5ff;
        color: white;
    }



/* Terrain card */

.carte-ajout-terrain-lien{
    color: var(--Dark);
    cursor: pointer;
}

.carte-ajout-terrain-lien:hover {
    color: var(--info);
}

.ajout-terrain-carte {
    flex-direction: column;
    justify-content: center;
}

.ajout-terrain-carte:hover {
    background-color: var(--primary);
}


.h4-liste-terrain {
    margin: 2em 5em;
    display: flex;
    font-family: 'Roboto';
    flex-wrap: wrap;
    justify-content: center;
}

.main-terrain {
    margin: 2em 5em;
    display: flex;
    font-family: 'Roboto';
    flex-wrap: wrap;
    justify-content: center;
}

.body-card-terrain {
    position: relative;
    margin: 2em;
    display: flex;
    width: 462px;
    height: 176px;
    border-radius: 5px;
    align-items: center;
    font-family: 'Roboto';
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.terrain-left img {
    width: 300px;
}

.terrain-right {
    padding: 1em;
    font-size: 13px;
    flex-grow: 1;
    text-align: end;
    display: flex;
    flex-direction: column;
    color: var(--Dark);
}

.circle-icone-card-terrain {
    height: 50px;
    width: 50px;
    background-color: var(--light);
    position: absolute;
    top: 6px;
    right: 139Px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.footer-card-terrain {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

    .footer-card-terrain p {
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 23px;
        margin-block: 0;
    }

    .footer-card-terrain i {
        cursor: pointer;
    }

.icone-terrain:hover {
    color: var(--info);
}

/*listes offres*/

.h4-liste-offre {
    margin: 2em 5em;
    display: flex;
    font-family: 'Roboto';
    flex-wrap: wrap;
    justify-content: center;
}

.main-list-offres {
    margin: 2em 5em;
    display: flex;
    font-family: 'Roboto';
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.body-card-list-offre {
    display: flex;
    background-color: var(--light);
    width: 100%;
    position: relative;
    margin-bottom: 3em;
    max-width: 650px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

    .body-card-list-offre::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: 0px;
        left: 0;
        background-color: var(--secondary);
    }

.liste-offres-right {
    flex-grow: 1;
    padding-left: 4em;
    display: flex;
}

.img-profile-list-offre {
    height: 110px;
    width: 110px;
    margin-left: 1em;
    align-self: center;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/27/21/49/girl-1863906__340.jpg");
    border-radius: 50%;
    background-size: cover;
}

.liste-detail-offres-text {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    margin-left: 1em;
}

.liste-detail-offres-button {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .liste-detail-offres-button i {
        font-size: 30px;
        color: var(--primary);
        cursor: pointer;
    }


        .liste-detail-offres-button i:hover {
            font-size: 35px;
            color: var(--info);
        }

.header-liste-offres {
    display: flex;
    width: 100%;
}

    .header-liste-offres div {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

        .header-liste-offres div p {
            margin-left: 5px;
        }




/*///////////////////////////  AFFICHAGE DE LA DESCRIPTION DE L'OFFRE ////////////////// */


.infosOffre_main {
    margin: 2em;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
}


.infosOffre_h1 {
    text-align: center;
}

.infosOffre_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #4F6367;
    border-radius: 5px;
    box-shadow: 12px 12px 2px 1px #8c989b;
    padding: 2em;
    max-width: 950px;
}

.infosOffre_infos {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    font-family: 'Roboto';
    font-size: 15px;
    width:50%;
}

    .infosOffre_infos p{
        margin-left: 1em;
        margin-right:1em;
    }



    .infosOffre_infosNomEleveur a {
        font-size: 1.5rem;
        transition: color 1s;
        color:inherit;
    }

    .infosOffre_infosNomEleveur a:hover {
        color: #514db1;
    }


.infosOffre_date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    border: solid 2px white;
    padding:1em;
}

    .infosOffre_date input {
        margin: 1rem;
    }

.infosOffre_selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color: #ffffff;
    font-family: 'Roboto';
    align-items:center;
}

    .infosOffre_date div{
    text-align: center;
}

.infosOffre_button{
    margin-bottom:1em;
}

.infosOffre_button button {
    width: 15rem;
    height: 2rem;
    background-color: #dddddd;
    border-radius: 5px;
    border: 2px solid black;
    transition: color 0.5s;
    margin: auto;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.infosOffre_buttonSelection {
    align-items: center;
    font-family: 'Roboto';
}

.infosOffre_buttonChange {
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 2px solid black;
    transition: color 5s;
    font-size: 1.2rem;
    align-self: center;
    text-align: center;
    display: flex;
    place-content: center;
    margin-bottom: 1em;
    color: var(--info);
}

.infosOffre_buttonSelection:hover {
    background-color: var(--Dark);
    color: var(--light);
}

.infosOffre_buttonChange:hover {
    background-color: var(--info);
    color:var(--light);
}

.eval-demande-container i{
    color:var(--secondary);
    margin-right: 1em;
}
/*/ ////////////////// CHOIX TERRAIN DESCRIPTION ////////////////// /*/
.infosTerrrain_main {
    margin: 2rem;
    margin-bottom: 10rem;
}

.infosTerrrain_h1 {
    text-align: center;
}

.infosTerrrain_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #4F6367;
    border-radius: 5px;
    box-shadow: 12px 12px 2px 1px #8c989b;
    height: 80%;
    width: 80%;
    margin: auto;
}

.infosTerrrain_imgbackground {
    text-align: center;
    margin: 1rem;
}

    .infosTerrrain_imgbackground img {
        border-radius: 5px;
    }

    .infosTerrrain_imgbackground a {
        width: 15rem;
        height: 4rem;
        background-color: #dddddd;
        border-radius: 5px;
        border: 2px solid black;
        transition: color 5s;
        margin: auto;
        margin-top: 2rem;
        font-size: 1.5rem;
    }

.infosTerrrain_buttonSelection {
    align-items: center;
}

.infosTerrrain_buttonChange {
    align-items: center;
    justify-content: center;
}

.infosTerrrain_buttonSelection:hover {
    background-color: #135d25;
}

.infosTerrrain_buttonChange:hover {
    background-color: #c82626;
}

.infosTerrrain_infos {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    width: 80%;
    border-radius: 5px;
}

.infosTerrrain_infosNomEleveur a {
    font-size: 1.5rem;
    transition: font-size 2s;
    transition: color 2s;
}

    .infosTerrrain_infosNomEleveur a:hover {
        color: #4F6367;
        font-size: 1.8rem;
    }

.infosTerrrain_infos p {
    margin-left: 1rem;
    width: 80%;
}

/*/ ///////////////////////// HOME PAGE ////////////////////////////// /*/

.container-top {
    max-height:79vh;
    height: 39em;
    background-image: url(/assets/Slide1.png);
    background-color: #d8e8c8;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
}

.container-top-h1 {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-family: 'Roboto';
    text-align: center;
}

.container-top-p {
    margin: 7%;
    align-self: center;
    width: 36%;
}
/* Feature */
    .features {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.row-1 {
    flex-basis: 31%;
    background: #edf5ec;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.features h1 {
    font-size: 36px;
    font-weight: 600;
}

.features p {
    color: #777;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row-2 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.features-col {
    flex-basis: 31%;
    background: #edf5ec;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
/* contact form */

.section-contact-form {
    min-height: 100vh;
    background: url("/assets/contact-form-pic1.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

    .contact-info i {
        margin-right: 20px;
        font-size: 25px;
    }

.contact-form {
    max-width: 700px;
    margin-right: 50px;
}

.contact-info, .contact-form {
    flex: 1;
}

    .contact-form h2 {
        color: #fff;
        text-align: center;
        font-size: 35px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .contact-form .text-box {
        background: #000;
        color: #fff;
        border: none;
        width: calc(50% - 10px);
        height: 50px;
        padding: 12px;
        font-size: 15px;
        border-radius: 5px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        opacity: 0.9;
    }

        .contact-form .text-box:first-child {
            margin-right: 15px;
        }

    .contact-form textarea {
        background: #000;
        color: #fff;
        border: none;
        width: 100%;
        padding: 12px;
        font-size: 15px;
        min-height: 200px;
        max-height: 400px;
        resize: vertical;
        border-radius: 5px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        opacity: 0.9;
    }

    .contact-form .send-btn {
        float: right;
        background: #4F6367;
        color: #fff;
        border: none;
        width: 120px;
        height: 40px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: background;
    }

        .contact-form .send-btn:hover {
            background: #bdd5b9;
        }

@media screen and (max-width :950px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-info, .contact-form {
        margin: 30px 50px;
    }

        .contact-form h2 {
            font-size: 30px;
        }

        .contact-form .text-box {
            width: 100%;
        }
}

/* css message d'alert */
.alert-success {
    z-index: 1;
    background: #bdd5b9;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid;
    border-radius: 3px;
}

.alert-error {
    z-index: 1;
    background: #FFF3CD;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #FFA502;
    border-radius: 3px;
}


/* demande de prestation */
.body-demande-Prestation {
    display: flex;
}

.demande-presation-right {
    color: var(--primary);
    min-width: 130px;
    flex-grow: 1;
    width: 20%;
    position: fixed;
    text-align: CENTER;
    right: 0;
    min-height: 100%;
    box-shadow: -13px 0px 13px -8px #000000, 5px 5px 15px 5px rgb(0 0 0 / 0%);
}

.main-demande-Prestation {
    margin: 0;
    margin-left: 1em;
    justify-content: flex-start;
    margin-right: 20%;
}

@media screen and (max-width: 900px) {

    .demande-presation-right {
        display: none;
        font-family: 'Roboto', sans-serif;
    }
}

.button-choose-cat-prestration {
    display: flex;
    background-color: var(--primary);
    color: var(--light);
    align-items: center;
    cursor: pointer;
    margin-bottom: 1em;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgb(0 0 0 / 0%);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgb(0 0 0 / 0%);
}

    .button-choose-cat-prestration:hover {
        background-color: var(--light);
        color: var(--Dark);
    }

    .button-choose-cat-prestration h3 {
        flex-grow: 1;
    }

    .button-choose-cat-prestration a {
        text-decoration: none;
        color: inherit;
        width:100%;
    }

        .button-choose-cat-prestration a:hover {
            color: var(--Dark);
        }

    .button-choose-cat-prestration::before {
        content: "";
        display: block;
        height: 5px;
        width: 60px;
        background: linear-gradient(45deg, var(--light)42%, transparent 66%);
    }


.demande-presation-right h2 {
    margin-bottom: 2em;
}

.terrain-left-prestation {
    align-self: center;
    width: 50%;
    overflow: hidden;
    margin-left: 10px;
    border-radius: 2px;
}

.terrain-card-prestation {
    height: auto;
}

.valid:hover {
    color: var(--accept);
}

.refuse:hover {
    color: var(--refus);
}

.active::before {
    background: linear-gradient(45deg, var(--info)42%, transparent 66%);
}

.client-prestation-tag {
    color: var(--light);
    position: absolute;
    right: 0;
    top: 10px;
    background-color: var(--accept);
}

.eleveur-prestation-tag {
    color: var(--light);
    position: absolute;
    right: 0;
    top: 10px;
    background-color: var(--refus);
}

.infosOffre_infosDateInstallationTroupeau span {
    color: var(--refus);
}

.infosOffre_infosDateAcceptation span {
    color: var(--refus);
}

/*//////////////////    DECLARATION D'ANOMALIE     //////////////////////*/

.declarationAnomalie_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.declarationAnomalie_h1 {
    text-align: center;
}

.declarationAnomalie {
    width: 65%;
    height: 80%;
    margin: auto;
    border: 2px solid #4F6367;
    border-radius: 5px;
    box-shadow: 12px 12px 2px 1px #88CCF1;
    display: flex;
    flex-direction: row;
}

.declarationAnomalie_infosPrestation {
    margin: 1rem;
}

.declarationAnomalie_infosPrestation_buttonChange {
    height: 2rem;
    width: 14rem;
    margin: auto;
    margin-top: 2rem;
    border-radius: 5px;
    border: 2px solid #000000;
    text-align: center;
}

    .declarationAnomalie_infosPrestation_buttonChange:hover {
        background-color: #c82626;
    }

.declarationAnomalie_form {
    margin: 2rem;
    width: 50%;
    padding: 1em;
    border-radius: 5px;
    background-color: #4F6367;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .declarationAnomalie_form h2 {
        font-size: 1rem;
        margin: auto;
    }

.declarationAnomalie_formInput {
    margin: 1rem;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 1rem;
}

.declarationAnomalie_formInfos input, .declarationAnomalie_formInfos textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999
}

.declarationAnomalie_formInfos div {
    margin: 0.5rem;
}

.declarationAnomalie_formInfos label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

.declarationAnomalie_formInfos textarea {
    vertical-align: top;
    height: 5em;
}

.declarationAnomalie_formRaison {
    padding-top: 2rem;
}

.declarationAnomalie_form input:focus, .declarationAnomalie_form textarea:focus {
    border-color: #000;
}

.declarationAnomalie_ValidateButton {
    height: 3rem;
    width: 10rem;
    margin: auto;
    border-radius: 5px;
    border: 2px solid #000000;
}

    .declarationAnomalie_ValidateButton:hover {
        background-color: #135d25;
    }
}



.btn-infos {
    box-shadow: inset 0px 1px 0px 0px #54a3f7;
    background: linear-gradient(to bottom, var(--info) 5%, var(--info)100%);
    background-color: var(--info);
    border-radius: 3px;
    border: 1px solid #124d77;
    display: inline-block;
    cursor: pointer;
    color: var(--primary);
    font-family: 'Poppins';
    font-size: 15px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
}

    .btn-infos:hover {
        background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
        background-color: #0061a7;
    }

    .btn-infos:active {
        position: relative;
        top: 1px;
    }

        